{% include 'header.html' %}
<div class="row">
	<div class="col-md-6">
		<form method="post" action="/article/update/{{ article._id }}"> 
			<input type="hidden" name="csrf" value="csrf" />
			<input type="hidden" name="article[_id]" value="{{ article._id }}" />
			<input type="hidden" name="_method" value="PUT" />
			<div class="form-group">
				<label for="title">Title:</label>
				<input type="text" class="form-control" name="article[title]" value="{{ article.title }}" >
			</div>
			<div class="form-group">
				<label for="body">Body:</label>
				<textarea class="form-control" name="article[body]">{{ article.body }}</textarea>
			</div>			
			<input type="submit" value="Update Article" name="submit" class="btn btn-primary"/>
		</form>
	</div>
</div>
{% include 'footer.html' %}