{% include 'header.html' %}
<div class="row">
	<div class="col-md-6">
		<form method="post" action="/article/save"> 
			<div><input type="hidden" name="csrf" value="csrf" /></div>
			<div class="form-group">
				<label for="title">Title:</label>
				<input type="text" class="form-control" name="article[title]" value="{{ title }}" >
			</div>
			<div class="form-group">
				<label for="body">Body:</label>
				<textarea class="form-control" name="article[body]">{{ body }}</textarea>
			</div>
			<input type="submit" value="Save Article" name="submit" class="btn btn-primary"/>
		</form>
	</div>
</div>
{% include 'footer.html' %}