<!doctype html>
<html lang="en">
    <head>
        <title>Node Mongo blog</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
        <div class="page-header">
            <a href="/articles" class="top-menu">Articles</a>
            <a href="/article/new" class="top-menu">Add Article</a>
            <h1><a href="/">Node Mongo Blog</a></h1>
        </div>
        <div class="content container">